.navbar-title {
    display: flex;
    width: 146px;
    align-items: center;
    gap: 9px;
    width: fit-content;
}

.navbar-logo {
    width: 40px;
    height: 40px;
    background-color: var(--purple, #702DFF);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-image: url("/icons/logo.svg");
}

.navbar-toggler-my-icon {
    width: 30px;
    height: 30px;
    background: linear-gradient(90deg, #702DFF -3.24%, #7550FB 29.22%, #4A3AFF 74%, #4A3AFF 101.79%);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-image: url("/icons/navbar-toggle-icon.svg");
}

.top-row {
    height: 3.5rem;
    /* background-color: rgba(0,0,0,0.4); */
}

.navbar-brand {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    background: linear-gradient(90deg, #702DFF -3.24%, #7550FB 29.22%, #4A3AFF 74%, #4A3AFF 101.79%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item ::deep .nav-link {
    padding: 0;
    padding: 8px 0;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.nav-item ::deep a {
    color: var(--purple, #702DFF);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-radius: 4px;
    height: 3rem;
}

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: var(--color-gray-90, #3F3F3F);
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: #C893FD;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

.oi-overview {
    color: var(--color-gray-90, #3F3F3F);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}


.nav-list-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav-list-options {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 32px;
}

.nav-list-icon {
    width: 16px;
    height: 16px;
    background-color: var(--purple, #702DFF);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

a.active .nav-list-icon {
    background-color: var(--color-gray-90, #3F3F3F);
}

.nav-list-icon:hover {
    background-color: #C893FD;
}

.nav-list-login-icon {

    mask-image: url("/icons/login.svg");
}

.nav-list-register-icon {
    mask-image: url("/icons/register.svg");
}

.nav-list-logout-icon {
    mask-image: url("/icons/logout.svg");
}

.nav-list-movie-icon {
    mask-image: url("/icons/movie.svg");
}

.nav-list-username {
    font-size: 12px;
    padding-left: 10px;
}