.navbar-title {
    display: flex;
    width: 146px;
    align-items: center;
    gap: 9px;
    width: fit-content;
}

.navbar-logo {
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-image: url("/icons/logo.svg");
}

.navbar-toggler-my-icon {
    width: 30px;
    height: 30px;
    background: var(--accent-gradient);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-image: url("/icons/navbar-toggle-icon.svg");
}

.top-row {
    height: 3.5rem;
}

.navbar-brand {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    background: var(--accent-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item ::deep .nav-link {
    padding: 0;
    padding: 8px !important;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
}

.nav-item ::deep a {
    color: var(--accent-color);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    border-radius: 4px;
    height: 3rem;
}

.nav-item ::deep a.active {
    background-color: var(--sidebar-active-item-background-color);
    color: var(--sidebar-active-item-color);
}

.nav-item ::deep a.active > .nav-list-icon {
    background-color: var(--sidebar-active-item-color);
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: var(--accent-color-hover);
}

.nav-item ::deep a:hover > .nav-list-icon {
    background-color: var(--accent-color-hover);
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}

.nav-item-header {
    color: var(--sidebar-item-header-color);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 32px;
    height: 100%;
}

.nav-list-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.nav-list-options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
}

.nav-list-user-info {
    line-height: 24px;
    margin-top: auto;
    padding-top: 12px;
}

.nav-list-username {
    font-size: 12px;
    padding-top: 5px;
    padding-left: 10px;
}

.nav-list-username > * {
    margin: 0;
}

.nav-list-icon {
    width: 16px;
    height: 16px;
    background-color: var(--accent-color);
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.nav-list-login-icon {

    mask-image: url("/icons/login.svg");
}

.nav-list-register-icon {
    mask-image: url("/icons/register.svg");
}

.nav-list-logout-icon {
    mask-image: url("/icons/logout.svg");
}

.nav-list-movie-icon {
    mask-image: url("/icons/movie.svg");
}