@page "/movies/create"

@using P06Shop.Shared.Services.MovieService
@using P06Shop.Shared.MovieCollection

@attribute [Authorize]
@inject IMovieService MovieService
@inject NavigationManager NavigationManager

<div class="app-page">
    <h1 class="app-header">Create Movie</h1>

    @if (message != null)
    {
        <p><em>@message</em></p>
    }
    else
    {
        <MovieForm movie="movie" OnValidSubmit="HandleValidSubmit" submitButtonText="Create"></MovieForm>
    }    
</div>


@code {
    private MovieDto movie = new MovieDto();
    private string? message = null;

    async Task HandleValidSubmit()
    {
        var response = await MovieService.CreateMovieAsync(movie);
        if (response.Success)
            NavigationManager.NavigateTo("/movies");
        else
            message = response.Message;
    }


}