@page "/movies/edit/{Id:int}"

@using P06Shop.Shared.Services.MovieService
@using P06Shop.Shared.MovieCollection

@attribute [Authorize]
@inject IMovieService MovieService
@inject NavigationManager NavigationManager

@inject IStringLocalizer<Strings> Loc

<div class="app-page">
    <h1 class="app-header">@Loc["edit-movie"]</h1>
    @if (movie == null)
    {
        <div class="spinner-border text-secondary" role="status">
            <span class="sr-only"></span>
        </div>
        <p><em>@message</em></p>
    }
    else
    {
        <MovieForm movie="movie" OnValidSubmit="HandleValidSubmit"  submitButtonText=@Loc["update"]></MovieForm>
        <div class="app-content-container">
            <div class="app-buttons-container">
                <div class="app-align-center-stretch">
                    <button class="app-warn-button" @onclick=HandleDelete>@Loc["delete"]</button>
                    <button class="app-secondary-button" @onclick=HandleGoBack>@Loc["go-back"]</button>
                </div>
            </div>
        </div>
    }
</div>


@code {
    [Parameter]
    public int Id { get; set; }

    private Movie movie;
    private string message;

    protected override async Task OnInitializedAsync()
    {
        message = Loc["loading-movie"];

        var response = await MovieService.GetMovieByIdAsync(Id);
        if (response.Success)
            movie = response.Data;
        else
            message = response.Message;
    }

    async Task HandleValidSubmit()
    {
        var response = await MovieService.UpdateMovieAsync(movie);
        if (response.Success)
            NavigationManager.NavigateTo("/movies");
        else
            message = response.Message;
    }

    async Task HandleDelete()
    {
        var response = await MovieService.DeleteMovieAsync(Id);
        if (response.Success)
            NavigationManager.NavigateTo("/movies");
        else
            message = response.Message;
    }

    async Task HandleGoBack()
    {
        NavigationManager.NavigateTo("/movies");
    }
}