::deep form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 17px;
}

.app-full-content-container ::deep .input {
    display: flex;
    width: 100%;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    border: 1px solid var(--color-gray-50, #B1B1B1);
}

.responsive-wrapper {
    overflow-x: auto;
    width: 100%;
}

table thead th {
    vertical-align: middle;
    text-align: left;

    color: var(--color-gray-90, #3F3F3F);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;

}

table tbody td {
    vertical-align: middle;
    text-align: left;

    color: var(--color-gray-100, #202020);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}