 @using P06Shop.Shared.MovieCollection

 @attribute [Authorize]

<div class="form-container">
    <EditForm Model="movie" OnValidSubmit="OnValidSubmit" class="form">
        <DataAnnotationsValidator />
        <div class="app-content-container">
            <div>
                <label for="title" class="app-label">Title:</label>
                <InputText id="title" @bind-Value="movie.Title" class="input"></InputText>
            </div>
            <div>
                <label for="lengthInMinutes" class="app-label">Length in minutes:</label>
                <InputNumber id="lengthInMinutes" @bind-Value="movie.LengthInMinutes" class="input"></InputNumber>
            </div>
            <div>
                <label for="releaseDate" class="app-label">Release date:</label>
                <InputDate id="ReleaseDate" @bind-Value="movie.ReleaseDate" class="input"></InputDate>
            </div>
            <div>
                <label for="countryOfOrigin" class="app-label">Country of origin:</label>
                <InputText id="countryOfOrigin" @bind-Value="movie.CountryOfOrigin" class="input"></InputText>
            </div>
            <div>
                <label for="director" class="app-label">Director's full name:</label>
                <InputText id="director" @bind-Value="movie.Director" class="input"></InputText>
            </div>
            <div>
                <label for="description" class="app-label">Description:</label>
                <InputTextArea id="description" @bind-Value="movie.Description" class="input text-area-input" rows=></InputTextArea>
            </div>
            <ValidationSummary class="movie-form-validation-summary" />
            <div></div>
                <div class="button-container">
                    <button type="submit" class="app-primary-button">@submitButtonText</button>
                </div>
        </div>
    </EditForm>
</div>



@code {

    [Parameter]
    public MovieDto movie { get; set; }

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    public string submitButtonText { get; set; }

}
