@page "/"

<PageTitle>Home page</PageTitle>

<div class="app-simple-page">
    <h1 class="app-header">Welcome to Movie Library!</h1>
    <p>
        Check out the <NavLink href="movies">Movies</NavLink> page to see the list of movies.
    </p>
</div>