@page "/Login"
@using Blazored.LocalStorage;
@using Microsoft.AspNetCore.Components.Authorization;
@using P06Shop.Shared.Auth;
@using P06Shop.Shared.Services.AuthService;

@inject IAuthService AuthService
@inject ILocalStorageService LocalStorageService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div class="login-page">
    <h1 class="login-header">Login</h1>
    <EditForm Model="userLoginDTO" OnValidSubmit="HandleLogin" class="form">
        <div class="login-content-container">
            <div>
                <p class="login-label">Email:</p>
                <InputText type="email" @bind-Value="userLoginDTO.Email" id="email" class="input"></InputText>
            </div>
            <div>
                <p class="login-label">Password:</p>
                <InputText type="password" @bind-Value="userLoginDTO.Password" id="password" class="input"></InputText>
            </div>
            <button class="login-button" type="submit">Login</button>
            @if(!isLoginSuccess) {
                <p class="login-message">Incorrect data</p>
            }
        </div>
    </EditForm>

    @* @if (!string.IsNullOrEmpty(message))
    {
        <p>@message</p>
    } *@
</div>


@code {

    private UserLoginDTO userLoginDTO = new UserLoginDTO();
    @* private string message = string.Empty; *@
    private bool isLoginSuccess = true;

    private async Task HandleLogin()
    {
        var result = await  AuthService.Login(userLoginDTO);
        if (result.Success)
        {
            await LocalStorageService.SetItemAsync("authToken", result.Data);
            await AuthenticationStateProvider.GetAuthenticationStateAsync();

            NavigationManager.NavigateTo("/");
        }
        else
        {
            isLoginSuccess = false;
            @* message = result.Message; *@
        }
    }

}
