@page "/Register"
@using P06Shop.Shared.Auth;
@using P06Shop.Shared.Services.AuthService;

@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<div class="app-page">
    <h1 class="app-header">Register</h1>


    <EditForm Model="userRegisterDTO" OnValidSubmit="HandleRegistration" class="form">
        <DataAnnotationsValidator />
        <div class="app-content-container">
            <div>
                <p class="app-label">Email:</p>
                <InputText type="email" @bind-Value="userRegisterDTO.Email" id="email" class="input"></InputText>
            </div>
            <div>
                <p class="app-label">Username:</p>
                <InputText type="text" @bind-Value="userRegisterDTO.Username" id="username" class="input"></InputText>
            </div>
            <div>
                <p class="app-label">Password:</p>
                <InputText type="password" @bind-Value="userRegisterDTO.Password" id="password" class="input"></InputText>
            </div>
            <div>
                <p class="app-label">Confirm Password:</p>
                <InputText type="password" @bind-Value="userRegisterDTO.ConfirmPassword" id="confirmPassword" class="input"></InputText>
            </div>
            <ValidationSummary class="login-validation-summary" />
            <div></div>
            <button class="app-primary-button" type="submit" disabled="@(!context.Validate())">Register</button>
            @if(!isRegisterSuccess) {
                <p class="app-error-message">Incorrect data</p>
            }
        </div>
        
    </EditForm>

    @* <p>@message</p> *@
</div>


@code {
    UserRegisterDTO userRegisterDTO = new UserRegisterDTO();
    @* string message = string.Empty; *@
    private bool isRegisterSuccess = true;

    async Task HandleRegistration()
    {
        var result = await AuthService.Register(userRegisterDTO);
        if (result.Success)
        {
            NavigationManager.NavigateTo("Login");
        }
        else
        {
            @* message  = result.Message; *@
            isRegisterSuccess = false;
        }
    }

}
