@page "/Register"
@using P06Shop.Shared.Auth;
@using P06Shop.Shared.Services.AuthService;

@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<h3>Register</h3>


<EditForm Model="userRegisterDTO" OnValidSubmit="HandleRegistration">
    <div class="register-content-container">
        <div class="blue">
            <p class="register-label">Email:</p>
            <InputText @bind-Value="userRegisterDTO.Email" id="email"></InputText>
        </div>
        <div>
            <p class="register-label">User name:</p>
            <InputText @bind-Value="userRegisterDTO.Username" id="username"></InputText>
        </div>
        <div>
            <p class="register-label">Password:</p>
            <InputText @bind-Value="userRegisterDTO.Password" id="password"></InputText>
        </div>
        <div>
            <p class="register-label">Confirm Password:</p>
            <InputText @bind-Value="userRegisterDTO.ConfirmPassword" id="confirmPassword"></InputText>
        </div>
        
        <button class="register-button" type="submit">Register</button>
    </div>
    
</EditForm>

<p>@message</p>


@code {
    UserRegisterDTO userRegisterDTO = new UserRegisterDTO();
    string message = string.Empty;

    async Task HandleRegistration()
    {
        var result = await AuthService.Register(userRegisterDTO);
        if (result.Success)
        {
            NavigationManager.NavigateTo("Login");
        }
        else
        {
            message  = result.Message;
        }
    }

}
